server {
				listen 80;
        server_name {{ ansible_default_ipv4.address }};

        root {{ app_dir }}/nextcloud;
        index index.php index.html;

        add_header Referrer-Policy "no-referrer" always;
        add_header X-Content-Type-Options "nosniff" always;
        add_header X-Download-Options "noopen" always;
        add_header X-Frame-Options "SAMEORIGIN" always;
        add_header X-Permitted-Cross-Domain-Policies "none" always;
        add_header X-Robots-Tag "none" always;
        add_header X-XSS-Protection "1; mode=block" always;

        fastcgi_hide_header X-Powered-By;

        location / {
                rewrite ^(/core/doc/[^\/]+/)$ $1/index.html;
                rewrite ^ /index.php;
                try_files $uri $uri/ index.php;

                if ( $http_user_agent ~ ^DavClnt ) {
                				return 302 /remote.php/webdav/$is_args$args;
                }

        }

        location = /robots.txt {
                allow all;
                log_not_found off;
                access_log off;
        }

        client_max_body_size 2048M;
        fastcgi_buffers 64 4K;

        error_page 403 /core/templates/403.php;
        error_page 404 /core/templates/404.php;

        location /.well-known {
                location = /.well-known/carddav   { return 301 /remote.php/dav/; }
                location = /.well-known/caldav    { return 301 /remote.php/dav/; }

                location ^~ /.well-known          { return 301 /index.php$uri; }
                try_files $uri $uri/ =404;
        }

        location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)/ {
                deny all;
        }
        location ~ ^/(?:\.|autotest|occ|issue|indie|db_|console) {
                deny all;
        }

        location ~ ^/(?:index|remote|public|cron|core/ajax/update|status|ocs/v[12]|updater/.+|ocs-provider/.+)\.php(?:$|/) {

                include fastcgi_params;
                fastcgi_split_path_info ^(.+\.php)(/.*)$;
                try_files $fastcgi_script_name =404;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param PATH_INFO $fastcgi_path_info;

                fastcgi_param modHeadersAvailable true;
                fastcgi_param front_controller_active true;
                fastcgi_pass unix:/run/php/php{{ php_v }}-fpm.sock;
                fastcgi_intercept_errors on;
                fastcgi_request_buffering off;
        }

        location ~ ^/(?:updater|ocs-provider)(?:$|/) {
                try_files $uri/ =404;
                index index.php;
        }

        location ~* \.(?:css|js)$ {
                try_files $uri /index.php$uri$is_args$args;
                add_header Cache-Control "public, max-age=7200";
                access_log off;
        }

        location ~* \.(?:svg|gif|png|html|ttf|woff|ico|jpg|jpeg)$ {
                try_files $uri /index.php$uri$is_args$args;
                expires 6M;
                access_log off;
        }

        location ~ .(?:flv|mp4|mov|m4a)$ {
                mp4;
                mp4_buffer_size 20m;
                mp4_max_buffer_size 40m;
                fastcgi_split_path_info ^(.+.php)(/.)$;
                try_files $fastcgi_script_name =404;
                include fastcgi_params;
                sendfile on;
                tcp_nopush on;
                tcp_nodelay on;
                expires max;
                directio 10m;
                limit_rate 1024m;
                limit_rate_after 10m;
        }
}
